<!DOCTYPE html>
<html lang="en">
    <head>
        <title>My History</title>
    <div th:replace="fragments/header-link :: header-link"></div> 
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css"></link>
</head>

<body class="">
    <div class="wrapper">
        <div th:replace="fragments/sidebar :: sidebar"></div>
        <div class="main-panel" id="main-panel"><!--
            <!-- Navbar -->
            <div th:replace="fragments/header :: header"></div>
            <!-- End Navbar -->
            <div class="panel-header panel-header-lg">
                <h1 class="text-white text-center">My History</h1>
                <!--<h4 class="text-white text-center">MCC Project is stored here</h4>-->
            </div>
            <div class="content">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table mr-1"></i>
                        DMy History
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="myHistory" class="table table-bordered table-striped table-hover-col-sm-3">
                                <thead>

                                    <tr>
                                        <td>No</td>
                                        <td>Project</td>
                                        <td>Rekam Perubahan</td>
                                        <td>Waktu</td>
                                        <td>Pesan</td>
                                        <td>Status</td>

                                    </tr>
                                </thead>


                                <tbody>

                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div th:replace="fragments/footer :: footer"></div>
        </div>
    </div>
    <!--   Core JS Files   -->
    <div th:replace="fragments/jsTemplate :: jsTemplate"></div>
    <script th:src="@{/js/trainee/history.js}"></script>
    <script src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/plug-ins/1.10.24/dataRender/datetime.js"></script>
</body>
</html>
