<!DOCTYPE html>

<html>
    <head>
        <title>Data Project</title>
    <div th:replace="fragments/header-link :: header-link"></div>     
</head>

<body class="sb-nav-fixed">
    <div th:replace="fragments/header :: header"></div>
    <div id="layoutSidenav">
        <div th:replace="fragments/sidebar :: sidebar"></div>
        <div id="layoutSidenav_content">
            <div class="p-5">

                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table mr-1"></i>
                        Data Project
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="historyProject" class="table table-bordered table-striped table-hover-col-sm-3 w-100">
                                <thead>

                                    <tr>
                                        <td>No</td>
                                        <td>Info</td>
                                        <td>Waktu</td>
                                        <td>Pesan</td>
                                        <td>Status</td>
                                        
                                    </tr>
                                </thead>

                                <script th:src="@{/js/trainee/history-project.js}"></script>
                                <tbody>

                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>                  
    <script>
        $(document).ready(function () {
            var table = $('#historyProject').DataTable();
        });
    </script>
    <div th:replace="fragments/dataTable :: dataTable"></div> 


</body>
</html>