<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>Data Trainer</title>
    <div th:replace="fragments/header-link :: header-link"></div>     
</head>
<body class="sb-nav-fixed">
    <div th:replace="fragments/header :: header"></div>
    <div id="layoutSidenav">
        <div th:replace="fragments/sidebar :: sidebar"></div>
        <div id="layoutSidenav_content">
            <div class="p-5">
                <h3>Data Trainer</h3>

                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table mr-1"></i>
                        DataTable Example
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="projectTable" class="table table-bordered table-striped table-hover-col-sm-3">
                                <thead>
                                    <tr>
                                        <th>Project Name</th>
                                        <th>Batch</th>
                                        <th>Trainee</th>
                                        <th>Trainer</th>
                                        <th>Description</th>
                                        <th>Schema</th>
                                        <th>Link Github</th>
                                    </tr>
                                </thead>

                                <script th:src="@{/js/trainee/trainee-project.js}"></script>
                                <tbody>

                                </tbody>

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div th:replace="fragments/footer :: footer"></div>                  
    <script>
        $(document).ready(function () {
            var table = $('#trainerTable').DataTable();
        });
    </script>

    <div th:replace="fragments/dataTable :: dataTable"></div> 
    <div th:replace="admin/modal-edit-trainer :: modal-edit-trainer"></div>
    <script th:src="@{/js/form-validation.js}"></script>-->
</body>
</html>
