<!--<!DOCTYPE html>
<html lang="en">
    <head>
        <title> Submit judul </title>
    <div th:replace="fragments/header-link :: header-link"></div>
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
</head>

<body class="">
    <div class="wrapper">
        <div th:replace="fragments/sidebar :: sidebar"></div>
        <div class="main-panel" id="main-panel">
             Navbar 
            <div th:replace="fragments/header :: header"></div>
             End Navbar 
            <div class="panel-header panel-header-lg">
                <h1 class="text-white text-center">Submit Project MCC</h1>
                <h4 class="text-white text-center">MCC Project is stored here</h4>
            </div>
            <div class="content">
                <div class="col-md">
                    <div class="card">
                        <div class="card-header">
                            <h5 class="title">Submit Project Metrodata Coding Camp</h5>
                        </div>
                        <div class="card-body">
                            <form id="submitJudul" class="needs-validation" novalidate>
                                <div class="row">
                                    <div class="col-md-5 pr-1">
                                        <div class="form-group">
                                            <label>Requester</label>
                                            <input type="text" class="form-control" disabled="" placeholder="Requester"/>
                                        </div>
                                    </div>
                                    <div class="col-md-7 px-1">
                                        <div class="form-group">
                                            <label for="judul">Judul</label>
                                            <input type="text" id="judul" class="form-control" placeholder="Judul Project" required>
                                            <div class="invalid-feedback">
                                                Please enter your judul.
                                            </div><br>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md">
                                        <div class="form-group">
                                            <div class="form-group">
                                                <label for="idMcc1">Nama Trainee</label>
                                                <input type="number" id="idMccSatu" class="form-control" placeholder="Anggota 1" required>
                                                <div class="invalid-feedback">
                                                    Please enter your nama.
                                                </div><br>
                                                                                                <label for="exampleFormControlInput2">Member</label>
                                                                                                <select class="form-control" id="idMccSatu" required>
                                                                                                    <option value="" selected>--Select Member 1--</option>
                                                                                                    <option th:each="trainee :${trainee}" th:value="${trainee.idTrainee}" th:text="${trainee.nama}" required></option>
                                                                                                </select>
                                                                                                <div class="invalid-feedback">
                                                                                                    Please select your member 1.
                                                                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label for="idMcc2">Nama Trainee</label>
                                                <input type="number" id="idMccDua" class="form-control" placeholder="Anggota 1" required>
                                                <div class="invalid-feedback">
                                                    Please enter your nama.
                                                </div><br>
                                                <label for="exampleFormControlInput2">Member</label>
                                                <select class="form-control" id="idMccSatu" required>
                                                    <option value="" selected>--Select Member 2--</option>
                                                    <option th:each="trainee :${trainee}" th:value="${trainee.idTrainee}" th:text="${trainee.nama}" required></option>
                                                </select>
                                                <div class="invalid-feedback">
                                                    Please select your member 2.
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                 <label for="idMcc3">Nama Trainee</label>
                                                <input type="number" id="idMccTiga" class="form-control" placeholder="Anggota 1" required>
                                                <div class="invalid-feedback">
                                                    Please enter your nama.
                                                </div><br>
                                                <label for="exampleFormControlInput2">Member</label>
                                                <select class="form-control" id="idMccSatu" required>
                                                    <option value="" selected>--Select Member 3--</option>
                                                    <option th:each="trainee :${trainee}" th:value="${trainee.idTrainee}" th:text="${trainee.nama}" required></option>
                                                </select>
                                                <div class="invalid-feedback">
                                                    Please select your member 3.
                                                </div>
                                            </div>


                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <label for="deskripsi">Deskripsi</label>
                                        <input type="text" id="deskripsi" class="form-control" placeholder="Deskripsi" required>
                                        <div class="invalid-feedback">
                                            Please enter your deskripsi.
                                        </div><br>
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-round btn-primary">Submit</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div th:replace="fragments/footer :: footer"></div>
        </div>
    </div>
       Core JS Files   
    <script>
        $(document).ready(function () {
            var table = $('#submitJudul').DataTable();
        });
    </script>
    <script src="//cdn.datatables.net/1.10.24/js/jquery.dataTables.min.js"></script> 
    <div th:replace="fragments/jsTemplate :: jsTemplate"></div>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script>
        $(".js-select2").select2();
    </script>
</body>
</html>-->


<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Data Project - </title>
    <div th:replace="fragments/header-link :: header-link"></div> 
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.min.css"></link>
</head>

<body class="">
    <div class="wrapper">
        <div th:replace="fragments/sidebar :: sidebar"></div>
        <div class="main-panel" id="main-panel">
<!--             Navbar -->
            <div th:replace="fragments/header :: header"></div>
<!--             End Navbar -->
            <div class="panel-header panel-header-lg">
                <h1 class="text-white text-center">Data Project MCC</h1>
                <h4 class="text-white text-center">MCC Project is stored here</h4>
            </div>
            <div class="content">
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table mr-1"></i>
                        Data Project
                    </div>
                    <div class="card-body">
                        <div class="card-body">
                        <div class="table-responsive">
                            <button type="submit" class="btn btn-primary" data-toggle="modal" data-target="#create-judul"
                                    sec:authorize="hasAuthority('create')"> 
                                <i class="fas fa-plus" aria-hidden="true"></i> Submit Judul Project
                            </button>

                            <script th:src="@{/js/trainee/submit-judul.js}"></script>
                            <tbody>

                            </tbody>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>                  

    <div th:replace="trainee/modal-add-judul :: modal-add-judul"></div>
    <div th:replace="fragments/dataTable :: dataTable"></div> 


</body>
</html>