<!DOCTYPE html>

<html>
    <head>
        <title>Submit Judul - Trainee</title>
    <div th:replace="fragments/header-link :: header-link"></div>     
</head>

<body class="sb-nav-fixed">
    <div th:replace="fragments/header :: header"></div>
    <div id="layoutSidenav">
        <div th:replace="fragments/sidebar :: sidebar"></div>
        <div id="layoutSidenav_content">
            <div class="p-5">

                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table mr-1"></i>
                        Submit Judul Project
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#create-judul"
                                    sec:authorize="hasAuthority('create')"> 
                                <i class="fas fa-plus" aria-hidden="true"></i> Submit Judul Project
                            </button>

                            <script th:src="@{/js/trainee/submit-judul.js}"></script>
                            <tbody>

                            </tbody>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>                  

    <div th:replace="trainee/modal-add-judul :: modal-add-judul"></div>
    <div th:replace="fragments/dataTable :: dataTable"></div> 


</body>
</html>