<!DOCTYPE html>

<html>
    <head>
        <title>Data Trainee</title>
    <div th:replace="fragments/header-link :: header-link"></div>     
</head>

<body>
    <div th:replace="fragments/sidebar :: sidebar"></div>
    <div class="content-container">
        <div th:replace="fragments/header :: header"></div>

        <div class="container my-3">

            <h3>Data Trainee</h3>


            <br>
            <br>
            <table id="TraineeTable" class="table table-bordered table-striped table-hover-col-sm-3">
                <thead>

                    <tr>
                        <td>No</td>
                        <td>Nama Trainee</td>
                        <td>Batch</td>
                        <td>Email</td>
                        <td>Jabatan</td>
                        <td>Status</td>
                        <td>Action</td>
                    </tr>
                </thead>

                <script th:src="@{/js/admin/data-trainee.js}"></script>
                <tbody>

                </tbody>

            </table>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer"></div>                  
    <script>
        $(document).ready(function () {
            var table = $('#TraineeTable').DataTable();
        });
    </script>

    <div th:replace="admin/modal-edit-trainee :: modal-edit-trainee"></div>
    <script th:src="@{/js/form-validation.js}"></script>


</body>
</html>