<div class="modal-edit-trainee" th:fragment="modal-edit-trainee">

    <div class="modal fade" id="update-trainee" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header border-bottom-0">
                    <h5 class="modal-title" id="exampleModalLabel">Edit Trainee</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="traineeUpdate" class="needs-validation" novalidate>
                        <div class="form-group">
                            <label for="idMcc">ID MCC</label>
                            <input type="number" id="idMcc" class="form-control" placeholder="ID MCC" required>
                            <div class="invalid-feedback">
                                Please enter your id mcc.
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="nama">Nama Trainee</label>
                            <input type="text" id="nama" class="form-control" placeholder="Nama Trainee" required> 
                            <div class="invalid-feedback">
                                Please enter your trainee name.
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="batch">Batch</label>
                            <input type="text" id="batch" class="form-control" placeholder="Batch" required> 
                            <div class="invalid-feedback">
                                Please enter your batch
                            </div>
                        </div>
                        
                         <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" id="email" class="form-control" placeholder="Email" required> 
                            <div class="invalid-feedback">
                                Please enter your email
                            </div>
                        </div>
                        
                         <div class="form-group">
                            <label for="jabatan">Jabatan</label>
                            <input type="text" id="jabatan" class="form-control" placeholder="Jabatan" required> 
                            <div class="invalid-feedback">
                                Please enter your jabatan
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="exampleFormControlInput1">Status MCC</label>
                            <select class="form-control" id="statusMcc" required>
                                <option value="" selected>--Pilih Status--</option>
                                <option value="1" >Trainee</option>
                                <option value="2">Lulus</option>
                            </select>
                            <div class="invalid-feedback">
                                Please select your status mcc
                            </div>
                            
                        </div>
                        <div class="modal-footer border-top-0 d-flex justify-content-center">
                            <button type="submit" class="btn btn-success">Submit</button>
                            <button data-dismiss="modal" class="btn btn-danger col-2">Back</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>