 <footer class="footer" th:fragment="footer">
    <footer class="footer">
                    <div class="container-fluid">
                        <nav>
                            <ul>
                                <li>
                                    <a href="https://www.creative-tim.com"> Aulia </a>
                                </li>
                                <li>
                                    <a href="http://presentation.creative-tim.com"> Rafi </a>
                                </li>
                                <li>
                                    <a href="http://blog.creative-tim.com"> Zakiyah </a>
                                </li>
                            </ul>
                        </nav>
                        <div class="copyright" id="copyright">
                            &copy;
                            <script>
                                document.getElementById("copyright").appendChild(document.createTextNode(new Date().getFullYear()));
                            </script>
                            , MCC Project Library .
                        </div>
                    </div>
                </footer>
</footer>