<div class="sidebar-container" th:fragment="sidebar">
    <div class="sidebar" data-color="orange">
        <div class="logo">
            <a href="http://www.creative-tim.com" class="simple-text logo-normal text-center"> MCC Trainer </a>
        </div>
        <div class="sidebar-wrapper" id="sidebar-wrapper">
            <ul class="nav">
                <li class="active">
                    <a th:href="@{/dashboard}">
                        <i class="fas fa-tachometer-alt"></i>
                        <p>Dashboard</p>
                    </a>
                </li>
                <li>
                    <a th:href="@{/trainee}">
                        <i class="fas fa-table"></i>
                        <p>Data Trainee</p>
                    </a>
                </li>
                <li>
                    <a th:href="@{/trainer}">
                        <i class="fas fa-table"></i>
                        <p>Data Trainer</p>
                    </a>
                </li>
                <li>
                    <a th:href="@{/project}">
                        <i class="fas fa-table"></i>
                        <p>Data Project</p>
                    </a>
                </li>
                <li>
                    <a th:href="@{/project/title-submission}">
                        <i class="fas fa-table"></i>
                        <p>Trainer - Title Submission</p>
                    </a>
                </li>
                <li>
                    <a th:href="@{/project/project-submission}">
                        <i class="fas fa-table"></i>
                        <p>Trainer - Project Submission</p>
                    </a>
                </li>
                <li>
                    <a th:href="@{/project/search-trainee}">
                        <i class="fas fa-table"></i>
                        <p>Trainee - Search Project</p>
                    </a>
                </li>
                <li>
                    <a th:href="@{/project/judul}">
                        <i class="fas fa-table"></i>
                        <p>Trainee - Submit Project</p>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>
